i=k=10
s=test_path=/Users/xingshi/Workspace/misc/573Final/data/100.mm
s=test_train=/Users/xingshi/Workspace/misc/573Final/data/100.10.train.mm
s=test_test=/Users/xingshi/Workspace/misc/573Final/data/100.10.test.mm
s=eta_path=/Users/xingshi/Workspace/misc/573Final/var/1000_1/eta.final.pickle
b=gensim=False